<form action="/Users/Edit/0" method="post">
    <input name="__RequestVerificationToken" type="hidden" value="fphbmk6WBqINBLUnVR7iCBxrKthrYVItfhafq5stQvxoUD56-oUsUxiWMC40MDz8iMtzybnh_OmcOeGYu3vA1YoAWDygIzZ1wpEwTuLGR1eiUGBOroCJUiiRUx9XRK5lOsU0IJxNV8rCtS12Xxk6fg2" />
    <div class="form-horizontal">
        <h4>User Profile</h4>
        <hr />
        <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" type="hidden" value="0" />
        <div class="row">
            <div class="form-container col-md-5">  
            <div class="form-group">
                <label class="control-label col-md-2" for="CreateDate">CreateDate</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field CreateDate must be a date." data-val-required="The CreateDate field is required." id="CreateDate" name="CreateDate" type="datetime" value="6/28/2018 11:16:50 PM" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="CreateDate" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Name">Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="UserName">UserName</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="UserName" name="UserName" type="text" value="mohsensarmast@gmail.com" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="PhoneNumber">PhoneNumber</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="PhoneNumber" name="PhoneNumber" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="PostalCode">PostalCode</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="PostalCode" name="PostalCode" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="PostalCode" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Address">Address</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Address" name="Address" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Birthday">Birthday</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Birthday" name="Birthday" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Birthday" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="City">City</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="City" name="City" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="City" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Work_Tel">Work_Tel</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Work_Tel" name="Work_Tel" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Work_Tel" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Register_Step">Register_Step</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Register_Step must be a number." id="Register_Step" name="Register_Step" type="number" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Register_Step" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Registered">Registered</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        <input class="check-box" data-val="true" data-val-required="The Registered field is required." id="Registered" name="Registered" type="checkbox" value="true" /><input name="Registered" type="hidden" value="false" />
                        <span class="field-validation-valid text-danger" data-valmsg-for="Registered" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Experience">Experience</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Experience must be a number." data-val-required="The Experience field is required." id="Experience" name="Experience" type="number" value="0" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Experience" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Score">Score</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Score must be a number." data-val-required="The Score field is required." id="Score" name="Score" type="number" value="0" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Score" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Chance">Chance</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Chance must be a number." data-val-required="The Chance field is required." id="Chance" name="Chance" type="number" value="0" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Chance" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Star">Star</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Star must be a number." data-val-required="The Star field is required." id="Star" name="Star" type="number" value="0" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Star" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="RefrenceID">RefrenceID</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field RefrenceID must be a number." id="RefrenceID" name="RefrenceID" type="number" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="RefrenceID" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="RefrenceDate">RefrenceDate</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field RefrenceDate must be a date." id="RefrenceDate" name="RefrenceDate" type="datetime" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="RefrenceDate" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default button" />
                </div>
            </div>
        </div>
        <div class="grid-container col-md-5">  
                <h4>Install Index</h4>
                <ag-grid-angular 
                class="ag-theme-balham"
                [rowData]="rowData"  
                [columnDefs]="columnDefsInstall"
                [defaultColDef]="defaultColDef"
                [pagination]="true"
                [paginationPageSize]="paginationPageSize"
                [animateRows]="true"
                [frameworkComponents]="frameworkComponents"
                >
                </ag-grid-angular>
                <h4>Charge Index</h4>
                <ag-grid-angular 
                class="ag-theme-balham"
                [rowData]="rowData"  
                [columnDefs]="columnDefsCharge"
                [defaultColDef]="defaultColDef"
                [pagination]="true"
                [paginationPageSize]="paginationPageSize"
                [animateRows]="true"
                [frameworkComponents]="frameworkComponents"
                >
                </ag-grid-angular>
            </div>
    </div>
    <div>
        <a href="/Users/Index">Back to List</a>
    </div>
    </div>
   
</form>

